td.comment-2 {
  background-color: #332211;
  vertical-align: top;
  width: 80%;
}

footer {
  margin-top: 4em;
  background: repeat-x center top url(./images/udgs/bike.png);
  background-size: auto 16px;
  padding-top: 2em;
  image-rendering: pixelated;
}
